<section>
  <div class="container">
    <div class="col-12">
      <div class="card card-body">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Título</th>
              <th>Categoria</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr id="post-<%= post._id %>">
                <td>
                  <a href="/post/<%= post._id %>">
                    <%= post.title %>
                  </a>
                </td>
                <td>
                  <%= post.category.name %>
                </td>
                <td>
                  <%= post.status %>
                </td>
                <td>
                  <button 
                      id="delete-<%= post._id %>" 
                      onclick="deletePost('<%= post._id %>')" 
                      class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script>
  async function deletePost(postID) {
    let response = await fetch(`/post/${postID}`, { method: 'DELETE' })
    let { id } = await response.json()
    
    let element = document.getElementById(`post-${id}`)
    if(element) {
      element.remove()
    }
  }

</script>